.about canvas {
  background-color: transparent;
  position: absolute;
  aspect-ratio: 1;

  width: clamp(100px, 10vw + 20vh, 300px);
  right: 0;
  top: calc(100vh - clamp(100px, 10vw + 20vh, 300px));
  image-rendering: pixelated;
}

.flippable-card:first-of-type canvas {
  background-color: transparent;
  position: absolute;
  height: 300px;
  width: 300px;
  left: 0;
  bottom: -150px;
  image-rendering: pixelated;
}

.flippable-card:last-of-type canvas {
  background-color: transparent;
  position: absolute;
  height: 300px;
  width: 300px;
  left: 0;
  bottom: -150px;
  transform: rotateY(180deg);
  image-rendering: pixelated;
}
