.introduction {
  height: 100vh;
  width: 100vw;
  overflow-x: scroll;
  display: flex;
  scroll-snap-align: start;
}

.about {
  position: relative;
  flex: 0 0 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.skills {
  --inline-padding: 5rem;
  position: relative;
  flex: 0 0 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  padding: 1rem var(--inline-padding);
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
}

.information__container {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 6rem;
  gap: 2rem;
  align-items: flex-start;
}

.information__text {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
}

.information__text p {
  white-space: nowrap;
  display: block;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .information__text p {
    text-align: center;
  }

  .information__container {
    align-items: center;
  }

  .information__flag {
    background: url(../../public/images/closeup-shot-realistic-flag-chile-with-interesting-textures.jpg);
    background-clip: text;
    background-size: cover;
    -webkit-background-clip: text;
    font-size: clamp(1rem, 10vh + 5vw, 10rem);
    color: transparent;
  }
}
