.projects {
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-clr);
  color: var(--text-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  perspective: 1000px;
}

.container3d {
  transform-style: preserve-3d;
}

.flippable-card {
  width: 421px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg) translateX(0px);
  transition: transform ease-in-out 2s;
  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size: 24px'><text y='20'>🤲</text></svg>"),
    auto;
}

.card__frontface,
.card__backface {
  border-radius: 25px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 75%;
  object-fit: cover;
  object-position: center;
}

.card__description--left {
  background-color: var(--secondary-clr);
  position: absolute;
  width: 130%;
  height: 75%;
  inset: 50% 0 0 -20%;
  transform: rotateZ(-3deg) skew(20deg, -5deg);
  border-radius: 50px;
}

.card__description--right {
  background-color: var(--secondary-clr);
  position: absolute;
  width: 130%;
  height: 75%;
  inset: 50% 0 0 -10%;
  transform: rotateZ(3deg) skew(-20deg, 5deg);
  border-radius: 50px;
}

.description__status--left {
  position: absolute;
  color: green;
  font-size: 1.5rem;
  font-weight: 700;
  border: 2px solid green;
  border-radius: 5px;
  padding: 0.5rem;
  bottom: 10%;
  right: 2rem;
}

.description__id--left {
  position: absolute;
  color: var(--primary-clr);
  font-size: 4rem;
  font-weight: 900;
  bottom: 15%;
  left: 2rem;
}

.description__name--left {
  position: absolute;
  color: var(--primary-clr);
  font-size: 1.5rem;
  font-weight: 700;
  width: min-content;
  word-wrap: break-word;
  text-align: right;
  bottom: 30%;
  right: 2rem;
}
.description__status--right {
  position: absolute;
  color: yellowgreen;
  font-size: 1.5rem;
  font-weight: 700;
  border: 2px solid yellowgreen;
  border-radius: 5px;
  padding: 0.5rem;
  bottom: 10%;
  left: 2rem;
}

.description__id--right {
  position: absolute;
  color: var(--primary-clr);
  font-size: 4rem;
  font-weight: 900;
  bottom: 15%;
  right: 2rem;
}

.description__name--right {
  position: absolute;
  color: var(--primary-clr);
  font-size: 1.5rem;
  font-weight: 700;
  width: min-content;
  word-wrap: break-word;
  text-align: left;
  bottom: 30%;
  left: 2rem;
}

.description__content {
  height: 100%;
  width: 100%;
  padding: 2rem;
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  overflow-y: auto;
}

.card__backface {
  transform: rotateY(180deg);
}
