.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /*margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 5s steps(30, end) infinite,
    blink-caret 0.75s step-end infinite;
}

.typewriter {
  width: max-content;
}

/* The typing effect */
@keyframes typing {
  from,
  to {
    width: 0;
  }
  50% {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
