body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-clr);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: clamp(0.5rem, 1vh + 1vw, 1rem);
}

:root {
  --primary-clr: #000;
  --secondary-clr: #fff;
  --accent-clr: #47e10c;
  --text-clr: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light-theme {
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
}

.dark-theme {
  background-color: var(--primary-clr);
  color: var(--secondary-clr);
}

.dark-theme-icon {
  fill: var(--secondary-clr);
}

.light-theme-icon {
  fill: var(--primary-clr);
}
